apiVersion: bedrock.cloudyfolks.io/v1alpha1
kind: ClusterConfig
metadata:
  name: e2e
spec:
  version: ${VERSION}
  api:
    vip: ${VIP}
  network:
    managementInterface: ${IFACE}
  virtualization:
    emulation: true
  roles: [control-plane, ceph-osd, fabric-gateway, workload]
